<footer id="footer" xmlns="http://www.w3.org/1999/html">
	<div class="outer">
		<div id="footer-info">
			<div class="footer-left" >
				<% var now = new Date().getFullYear(); %>
				&copy; <%- theme.Copyright === now ? theme.Copyright : (theme.Copyright + " - " + now) %>
				<i style="padding: 0 5px;color:#FF6A6A;animation: announ_animation 0.8s linear infinite;" class="fa fa-heartbeat"></i>
				<a href="<%-theme.footer_author%>" <%if(theme.footer_author_newPage){%>target="_blank"<%}%> one-link-mark="yes"> <%= config.author || theme.author %></a>
			</div>
			<div class="footer-right">
				<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/lete114/hexo-theme-yilia-pro" target="_blank">Yilia-Pro</a> by Lete乐特
			</div>
		</div>
	</div>
	<div class="footer-center">

		<%if(theme.CDN.enable){%>
		<!-- 添加网站CDN加速-->
		<div>
			<a style="position: relative;" href="<%-url_for(theme.CDN.url)%>" target="_blank" rel="noopener" class="one-pan-link-mark">
				<img style="position:relative;top:-2px; " src="<%-theme.CDN.icon%>" align="absmiddle" width="60px" height="30px" alt="CDN"><%-theme.CDN.text%>
			</a>
		</div>
		<%}%>

		<%if(theme.ICP.enable){%>
		<div>
			<a style="position: relative;" href="<%- url_for(theme.ICP.url) %>" target="_blank" rel="noopener" one-link-mark="yes">
				<img style="position:absolute; left: -26px;top: 1px;" src="<%-theme.ICP.icon%>" alt="ICP"/><%-theme.ICP.text%>
			</a>
		</div>
		<%}%>

		<% if (theme.run_time.enable){ %>
		<!--添加网站运行时间  <br/>-->
		<div>
			<span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
		</div>
	<script>
		var now = new Date();
		function createtime() {
			var grt= new Date("<%- theme.run_time.create_time %>");
			now.setTime(now.getTime()+250);
			days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
			hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
			if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);
			mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;}
			seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
			snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;}
			document.getElementById("timeDate").innerHTML = "本站已安全运行 "+dnum+" 天 ";
			document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
		}
		setInterval("createtime()",250);
	</script>
	<% } %>
	<% if (theme.busuanzi && theme.busuanzi.enable){ %>
	<!-- 不蒜子统计 -->
		<div>
				<span id="busuanzi_container_site_pv">
					本站总访问量<span id="busuanzi_value_site_pv"></span>次
				</span>
			<span class="post-meta-divider">|</span>
				<span id="busuanzi_container_site_uv" style='display:none'>
					本站访客数<span id="busuanzi_value_site_uv"></span>人
				</span>
		</div>
	</div>
	<script async src="/js/busuanzi.js"></script>
	<% } %>
</footer>