<!DOCTYPE html>
<html lang="<%-config.language%>">
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%=config.description%>">
  <meta name="author" content="<%=config.avatar%>">
  <meta name="copyright" content="<%=config.avatar%>">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="<%=theme.favicon%>">
  <link rel="canonical" href="<%= config.url %>">
  <meta property="og:type" content="website">
  <meta name="renderer" content="webkit">
  <link rel="dns-prefetch" href="<%= config.url %>">
  <meta property="og:title" content="<%=config.title%>">
  <meta property="og:url" content="<%= config.url %>">
  <meta property="og:site_name" content="<%=config.title%>">
  <meta property="og:image" content="<%=theme.avatar%>">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %><%- css('css/index.css') %>
  <%- partial('analytics') %>
</head>
