<div class="intrude-less">
	<header id="header" class="inner">
		<a href="<%=config.root%>" class="profilepic">
			<img src="<%=theme.avatar%>" class="js-avatar" alt="avatar">
		</a>
		<hgroup>
		  <h1 class="header-author"><a href="<%=config.root%>"><%=theme.author%></a></h1>
		</hgroup>
		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<nav class="header-menu">
			<ul>
			<% for (var i in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
	        <%}%>
			</ul>
		</nav>
		<nav class="header-smart-menu">
    		<% for (var i in theme.smart_menu){ %>
    			<% if(theme.smart_menu[i]){ %>
    			<a q-on="click: openSlider(e, '<%-i%>')" href="#"><%= theme.smart_menu[i] %></a>
    			<% } %>
            <%}%>
		</nav>
		<nav class="header-nav">
			<div class="social">


				<% for (var i in theme.subnav){ %>
				<a class="link-item" href="<%- url_for(theme.subnav[i]) %>" target="_blank" rel="noopener">
					<i class="<%=i%>"></i>
				</a>
				<% } %>
			</div>
		</nav>
	</header>		
</div>
