<div id="vcomment" class="comment" data-class="v">
</div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/lete114/CDN2/js/Valine-Lete3.2.js"></script>
<script>
    window.onload = function() {
        new Valine({
            el: '.comment',
            app_id: "<%= theme.valine.appId %>",
            app_key: "<%= theme.valine.appKey %>",
            master: "<%= theme.valine.master %>",
            friends: "<%= theme.valine.friends %>",
            placeholder: "<%= theme.valine.placeholder %>",
            lang: "<%= theme.valine.lang %>",
            pageSize: "<%= theme.valine.pageSize %>",
            recordIP: "<%= theme.valine.recordIP %>",
            serverURLs: "<%= theme.valine.serverURLs %>",
            enableQQ: "<%= theme.valine.enableQQ %>",
            emojiCDN: "<%= theme.valine.emojiCDN %>",
            emojiMaps: "<%= theme.valine.emojiMaps %>",
            path: window.location.pathname
        });
    }
</script>